.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  background-color: #282c35;
  color: #6cade5;
  border-radius: 4px;
}

.modal-title {
  padding-left: 30px;
  line-height: 0;
}

.modal-message {
  padding-left: 30px;
}

.modal-image {
  border: 1px solid #6cade5;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.close-instruction {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-instruction:hover,
.close-instruction:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-icon {
  width: 20px;
  height: 20px;
  color: #aaa;
}

.header-instruction {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
}

.settings-button {
  background-color: #f8f8f8;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #a0a3aa;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-button:hover {
  background-color: #e0e0e0;
}

.modal-image-success-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.modal-image-success {
  width: 100%;
}

ul.modal-instruction-description-list {
  list-style-type: square;
}

ul.modal-instruction-list {
  list-style-type: decimal;
  margin: 0;
  padding: 0 20px;
}

.modal-about {
  text-align: right;
  padding: 40px 0 10px 0;
}

.modal-about a {
  color: #aaa;
}

.modal-about a:hover {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .header-instruction {
    top: 10px;
    right: 10px;
  }
  .settings-button {
    color: #6cade5;
    background-color: rgba(108, 173, 229, 0.367);
    border: none;
  }
  .settings-button:hover {
    background-color: rgba(108, 173, 229, 0.7);
  }
  .modal-title {
    padding-left: 0px;
  }

  .modal-message {
    padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .modal-image-success-container {
    padding: 0px;
  }
}
